@{
    ViewData["Title"] = "Privacy Policy";
}
<section class="bg-light py-5">
  <div class="container">
    <h1 class="section-title mb-4">@ViewData["Title"]</h1>
    <p class="text-secondary">Use this page to detail your site's privacy policy.</p>
  </div>
</section>
